.services-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/images/ourservicesbackgrounimage.png') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2em;
    margin: 10px 0;
}

.overlay button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.servicesnav {
    color: #469DCD !important;

}

.overlay button:hover {
    background-color: #0056b3;
}

.sectionblue {
    background-color: #469DCD;
}

.services {
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.service {
    color: #FFF;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

card-text {
    color: #0D121C;
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.bluesection {
    height: 20vh;
    background-color: #469DCD;
    align-items: center;

}

.btn-custom:hover {
    background-color: #e0e0e0;
    color: #469DCD;
}

.card {
    border: none;
}

.card-title {
    color: #0D121C;
    font-family: "Inria Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.contactme {
    /* border: #007bff 2PX SOLID; */
    height: 3em;
    width: 15em;
    font-size: larger;
    font-family: "Josefin Sans";
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 5rem;
    border: none;
    background-color: #FFF;
    color: #469DCD;
}

.image-container {
    position: relative;
    /* border: 3px solid pink; */
    width: 98.5vw;
    height: 10vh;
    /* Adjust the height as needed */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    /* Adjust the opacity as needed */
    background: linear-gradient(to bottom,
        );
}

.image-container img:nth-child(1) {
    z-index: 1;
}

.image-container img:nth-child(2) {
    z-index: 2;
}

.image-container img:nth-child(3) {
    z-index: 3;
}

.stretched-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    font-family: Roboto;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;

}

.btn2 {
    background-color: #469DCD !important;
    color: #FFF;

    /* border: #007bff 2PX SOLID; */
    height: 3em;
    width: 15em;
    font-size: larger;
    font-family: "Josefin Sans";
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 25rem !important;
    ;
    border: none;


}

.btn2:hover {
    background-color: #FFF !important;
    color: #469DCD;
}

.stretched-button:hover {
    background-color: #e2e6ea;
}

.stretched-button:hover {
    background-color: #e2e6ea;
}

.stretched-button .arrow {
    font-size: 20px;
}

.footerimg {
    width: 300px;
    height: 170px;
    /* border: #469DCD 2px solid; */

    /* flex-shrink: 0; */
}

.parag {
    width: 300px;
    color: #000;
    font-family: "Inria Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5% !important;
    margin-top: -15px;
    line-height: normal;
    /* border: #469DCD 2px solid; */
}

.social-link {
    margin-left: 5% !important;

}

.social-icon {
    box-shadow: 5px 5px 10px rgba(129, 121, 121, 0.5);
    font-size: 24px;


}

.company {
    color: #469DCD;

    font-family: Roboto;
}

.companydiv {
    padding-left: 10px;
    /* border: #469DCD 2px solid; */

}