<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="stylesheet" href="/public/stylesheets/FAQs.css">
</head>

<body>
    <%- include('partials/header') %>`
        <div class="container-fluid">
            <h1 class="FAQs h1">Frequently asked <br><span class="FAQs spanFAQs">Questions</span>
            </h1>
        </div>
        <div class="container-fluid bluesection">
            <div class="container-fluid">
                <h1 class="h1 pt-5 commonquestion">Common Questions</h1>
                <div class="container-fluid">
                    <h5 class="h5 plumbing">What
                        plumbing services do you offer?</h5>
                    <p class="para">We handle leaks, blockages, and
                        installations. Our team can fix any plumbing issue
                        quickly and professionally </p>
                </div>
                <hr class="line">

            </div>
            <div class="container-fluid">
                <h5 class="h5 plumbing">Can you fix electrical problems?</h5>
                <p class="para">Yes, we offer reliable electrical repairs. Our skilled technicians ensure your home
                    remains
                    safe and functional. </p>
            </div>
            <hr class="line">

            <div class="container-fluid">
                <h5 class="h5 plumbing">Do you undertake construction projects?</h5>
                <p class="para">Yes, we offer construction services. Our team handles small repairs to large-scale
                    projects
                    with expertise.</p>
                <hr class="line">
            </div>

            <div class="container-fluid">
                <h5 class="h5 plumbing">Can you install solar panels?</h5>
                <p class="para">Yes, EZY FIX can install solar panels. Our professional technicians provide efficient
                    and
                    reliable solar panel installation services to help you save on energy costs and contribute to a
                    sustainable future. Contact us today for a consultation and quote!</p>
                <hr class="line">
            </div>
            <div class="container-fluid">
                <h5 class="h5 plumbing">Do you help with home shifting??</h5>
                <p class="para">Yes, we offer home shifting services. Our team handles packing, moving, and setting up
                    your
                    new home.</p>
                <hr class="line">
            </div>








        </div>









        </div>

        </div>




        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6"><img src="./images/EZY FIX TRANS BLACK 1.png" alt class="img-fluid footerimg">
                    <p class="parag ">Get professional repair services in
                        Kohat, Pakistan.
                        Experts are ready to solve your home issues</p>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-lg-12 ml-4">
                                <div class="social-link">
                                    <a href="https://www.facebook.com/yourprofile" target="_blank">
                                        <!-- <img src="./IMAGES/social (2).png" class="social-icon" alt="Facebook"> -->
                                    </a>
                                    <a href="https://www.twitter.com/yourprofile" target="_blank">
                                        <!-- <img src="./IMAGES/twitter.png" class="social-icon" alt="Twitter"> -->
                                    </a>
                                    <a href="https://www.instagram.com/yourprofile" target="_blank">
                                        <!-- <img src="./IMAGES/social (2).png" class="social-icon" alt="Instagram"> -->
                                    </a>
                                    <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
                                        <!-- <img src="./IMAGES/social (2).png" class="social-icon" alt="LinkedIn"> -->
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 companydiv">
                    <div class="container mt-4">
                        <div class="row">
                            <div class="mr-4 pr-4 col-lg-12">
                                <h3 class="company h3">Company</h3>

                                <button class="stretched-button" onclick="window.location.href='/About';">
                                    <span>About Us</span>
                                    <span class="arrow">&gt;</span>
                                </button>
                            </div>
                            <div class="col-lg-12">

                                <button class="stretched-button active"
                                    onclick="window.location.href='/FAQ';">
                                    <span>FAQs</span>
                                    <span class="arrow">&gt;</span>
                                </button>
                            </div>
                            <div class="col-lg-12">

                                <button class="stretched-button" onclick="window.location.href='/Contact';">
                                    <span>Contact Us</span>
                                    <span class="arrow">&gt;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" image-container container-fluid">
            <img src="./images/footer1.png" alt="Image 1">
            <img src="./images/footer2.png" alt="Image 2">
            <img src="./images/footer2.png" alt="Image 3">
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>