<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZYFIX - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/stylesignup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-Z0grauwA52zySMexU1C1cMWJdSu0e9V6wL3GL2xyJtg1p4pa+vTJxhuubi+MT/OrzSTt2em/www.michez.com/css/font-awesome.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-fluid mt-5 firstcontainer">
        <div class="row">
            <div class="col-md-6">
                <h1>Login</h1>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
                    <p class="text-center mt-3">
                        Don't have an account? <a href="/signup">Sign Up</a>
                    </p>
                </form>
            </div>
            <div class="col-md-6 signup">
                <img src="/images/signupimage.png" alt="EZYFIX Image" class="img-fluid imgsignup" height="100vh">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
