<div class="modal fade" id="loginModalFirst" tabindex="-1"
aria-labelledby="loginModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-4 position-relative">
        <!-- Close Icon -->
        <button type="button" class="btn position-absolute"
            style="top: 10px; right: 15px; font-size: 1.5rem; color: black;"
            data-bs-dismiss="modal">
            <i class="fas fa-times"></i>
        </button>
        <!-- Heading -->
        <h2 class="mb-2 Our p-0" style="font-size: clamp(24px, 2.5vw, 40px)">
            Login as?
        </h2>

        <!-- Customer & Service Provider Selection -->
        <div class="d-flex justify-content-center gap-4 flex-wrap">
            <div class="text-center p-4">
                <img src="/images/icons8-fix-100.png" alt="Customer" width="80">
                <button style="height: 65px;" class="btn btn-site mt-5 d-block mx-auto"
                    id="customerLoginBtn">Customer</button>
            </div>
            <div class="text-center p-4">
                <img src="/images/icons8-construction-100.png" alt="Service Provider"
                    width="80">
                <button style="height: 65px;" class="btn btn-site mt-5 d-block mx-auto"
                    id="serviceProviderLoginBtn">Service
                    Provider</button>
            </div>
        </div>
    </div>
</div>
</div>